pytorch_lightning==1.0.3
PyYAML==5.3.1
SimpleITK==1.2.4
matplotlib==3.3.3
numpy==1.19.5
pandas==1.1.5
pydicom==2.1.1
scikit-image==0.17.2
scikit-learn==0.24.1
scipy==1.5.4
seaborn==0.11.0
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
torch==1.7.1
torchvision==0.8.1